In [4]:
library(h2o)

In [5]:
h2o.init()

H2O is not running yet, starting it now...

Note:  In case of errors look at the following log files:
    /tmp/RtmpEz9my2/file2ae26f18896/h2o_UnknownUser_started_from_r.out
    /tmp/RtmpEz9my2/file2ae62d9139c/h2o_UnknownUser_started_from_r.err


Starting H2O JVM and connecting: ........ Connection successful!

R is connected to the H2O cluster:
    H2O cluster uptime:         8 seconds 68 milliseconds
    H2O cluster timezone:       Etc/UTC
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.34.0.6
    H2O cluster version age:    4 days
    H2O cluster name:           H2O_started_from_R_jovyan_jvi130
    H2O cluster total nodes:    1
    H2O cluster total memory:   1.49 GB
    H2O cluster total cores:    4
    H2O cluster allowed cores:  4
    H2O cluster healthy:        TRUE
    H2O Connection ip:          localhost
    H2O Connection port:        54321
    H2O Connection proxy:       NA
    H2O Internal Security:      FALSE
    H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
    R Version:                  R version 4.1.2 (2021-11-01)

In [8]:
h2o.clusterStatus()

Version: 3.34.0.6
Cluster name: H2O_started_from_R_jovyan_jvi130
Cluster size: 1
Cluster is locked

  h2o                       healthy last_ping    num_cpus sys_load
1 localhost/127.0.0.1:54321 TRUE    1.639965e+12 4        2.5
  mem_value_size free_mem   pojo_mem swap_mem free_disk    max_disk     pid
1 0              1597408720 9534000  0        140055150592 210303451136 6082
  num_keys tcps_active open_fds rpcs_active
1 0        0           40       0

In [10]:
h2o.clusterIsUp()

[1] TRUE

In [11]:
h2o.clusterInfo()

R is connected to the H2O cluster:
    H2O cluster uptime:         10 minutes 12 seconds
    H2O cluster timezone:       Etc/UTC
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.34.0.6
    H2O cluster version age:    4 days
    H2O cluster name:           H2O_started_from_R_jovyan_jvi130
    H2O cluster total nodes:    1
    H2O cluster total memory:   1.49 GB
    H2O cluster total cores:    4
    H2O cluster allowed cores:  4
    H2O cluster healthy:        TRUE
    H2O Connection ip:          localhost
    H2O Connection port:        54321
    H2O Connection proxy:       NA
    H2O Internal Security:      FALSE
    H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
    R Version:                  R version 4.1.2 (2021-11-01)

In [13]:
h2o.connect()

 Connection successful!

R is connected to the H2O cluster:
    H2O cluster uptime:         12 minutes 52 seconds
    H2O cluster timezone:       Etc/UTC
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.34.0.6
    H2O cluster version age:    4 days
    H2O cluster name:           H2O_started_from_R_jovyan_jvi130
    H2O cluster total nodes:    1
    H2O cluster total memory:   1.49 GB
    H2O cluster total cores:    4
    H2O cluster allowed cores:  4
    H2O cluster healthy:        TRUE
    H2O Connection ip:          localhost
    H2O Connection port:        54321
    H2O Connection proxy:       NA
    H2O Internal Security:      FALSE
    H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
    R Version:                  R version 4.1.2 (2021-11-01)

In [20]:
h2o.ls()

  key
1 temperaturedata.hex_sid_bd94_2

In [17]:
prostate = h2o.importFile(path = "/home/jovyan/work/temperaturedata.csv")

  |======================================================================| 100%

In [21]:
library(datasets)

In [31]:
temp.hex = as.h2o(prostate)

In [32]:
h2o.ls()

  key
1 RTMP_sid_bd94_7
2 RTMP_sid_bd94_8
3 character__sid_bd94_4
4 prostate_sid_bd94_9
5 temperaturedata.hex_sid_bd94_2

In [33]:
rand  <- h2o.runif(temp.hex, seed = 1234567)

In [34]:
train <- temp.hex[rand$rnd <= 0.8, ]
valid <- temp.hex[rand$rnd > 0.8, ]

In [30]:
prostate

                 timeofcapture humidity hvaccycleon mode month temperature
1 2021-03-13 18:45:00.000+0000    39.83       FALSE Hvac     3       19.97
2 2021-03-13 18:30:00.000+0000    40.86       FALSE Hvac     3       19.55
3 2021-03-13 18:15:00.000+0000    40.72       FALSE Hvac     3       19.42
4 2021-03-13 18:00:00.000+0000    40.73       FALSE Hvac     3       19.73
5 2021-03-13 13:00:00.000+0000    38.96       FALSE Hvac     3       19.85
6 2021-03-13 12:45:00.000+0000    38.09       FALSE Hvac     3       20.14
  timetotarget
1            0
2            0
3            0
4            0
5            0
6            0

[39114 rows x 7 columns]

In [35]:
train

                 timeofcapture humidity hvaccycleon mode month temperature
1 2021-03-13 18:45:00.000+0000    39.83       FALSE Hvac     3       19.97
2 2021-03-13 18:30:00.000+0000    40.86       FALSE Hvac     3       19.55
3 2021-03-13 18:15:00.000+0000    40.72       FALSE Hvac     3       19.42
4 2021-03-13 18:00:00.000+0000    40.73       FALSE Hvac     3       19.73
5 2021-03-13 13:00:00.000+0000    38.96       FALSE Hvac     3       19.85
6 2021-03-13 12:30:00.000+0000    38.70       FALSE Hvac     3       19.79
  timetotarget
1            0
2            0
3            0
4            0
5            0
6            0

[31423 rows x 7 columns]

In [36]:
valid

                 timeofcapture humidity hvaccycleon mode month temperature
1 2021-03-13 12:45:00.000+0000    38.09       FALSE Hvac     3       20.14
2 2021-03-13 10:00:00.000+0000    39.64       FALSE Hvac     3       19.63
3 2021-03-13 08:15:00.000+0000    39.68       FALSE Hvac     3       19.83
4 2021-03-12 18:30:00.000+0000    39.67       FALSE Hvac     3       21.29
5 2021-03-12 16:45:00.000+0000    40.20       FALSE Hvac     3       21.01
6 2021-03-12 16:15:00.000+0000    40.28       FALSE Hvac     3       20.20
  timetotarget
1            0
2            0
3            0
4            0
5            0
6            0

[7691 rows x 7 columns]

In [37]:
myX <- c('humidity')
myY <- 'temperature'

In [38]:
model <- h2o.gbm(x = myX, y = myY,
                 training_frame = train, validation_frame = valid,
                 score_each_iteration = T, 
                 ntrees = 100, max_depth = 5, learn_rate = 0.05,
                 model_id = "nicoranalysis")

  |======================================================================| 100%

In [39]:
print(model)

Model Details:
==============

H2ORegressionModel: gbm
Model ID:  nicoranalysis
Model Summary:
  number_of_trees number_of_internal_trees model_size_in_bytes min_depth
1             100                      100               42567         5
  max_depth mean_depth min_leaves max_leaves mean_leaves
1         5    5.00000         23         32    29.19000


H2ORegressionMetrics: gbm
** Reported on training data. **

MSE:  1.841511
RMSE:  1.357023
MAE:  1.038314
RMSLE:  0.0591552
Mean Residual Deviance :  1.841511


H2ORegressionMetrics: gbm
** Reported on validation data. **

MSE:  1.889375
RMSE:  1.374545
MAE:  1.050176
RMSLE:  0.05998903
Mean Residual Deviance :  1.889375