# First Steps with the OANDA API

## Connecting to the API / Server

In [2]:
import pandas as pd
import tpqoa

In [3]:
api = tpqoa.tpqoa("oanda.cfg")

In [4]:
api.get_account_summary()

{'id': '101-001-21299861-001',
 'alias': 'Primary',
 'currency': 'USD',
 'balance': '99987.0',
 'createdByUserID': 21299861,
 'createdTime': '2021-12-22T18:20:12.061765812Z',
 'guaranteedStopLossOrderMode': 'DISABLED',
 'pl': '-13.0',
 'resettablePL': '-13.0',
 'resettablePLTime': '0',
 'financing': '0.0',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.02',
 'openTradeCount': 0,
 'openPositionCount': 0,
 'pendingOrderCount': 0,
 'hedgingEnabled': False,
 'unrealizedPL': '0.0',
 'NAV': '99987.0',
 'marginUsed': '0.0',
 'marginAvailable': '99987.0',
 'positionValue': '0.0',
 'marginCloseoutUnrealizedPL': '0.0',
 'marginCloseoutNAV': '99987.0',
 'marginCloseoutMarginUsed': '0.0',
 'marginCloseoutPercent': '0.0',
 'marginCloseoutPositionValue': '0.0',
 'withdrawalLimit': '99987.0',
 'marginCallMarginUsed': '0.0',
 'marginCallPercent': '0.0',
 'lastTransactionID': '9'}

In [5]:
api.account_type

'practice'

In [6]:
api.account_id

'101-001-21299861-001'

In [7]:
api.get_instruments()

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('AUD/USD', 'AUD_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('CAD/SGD', 'CAD_SGD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('EUR/AUD', 'EUR_AUD'),
 ('EUR/CAD', 'EUR_CAD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/CZK', 'EUR_CZK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('EUR/GBP', 'EUR_GBP'),
 ('EUR/HKD', 'EUR_HKD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('EUR/NOK', 'EUR_NOK'),
 ('EUR/NZD', 'EUR_NZD'),
 ('EUR/PLN', 'EUR_PLN'),
 ('EUR/SEK', 'EUR_SEK'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/USD', 'EUR_USD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('GBP/AUD', 'GBP_AUD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('GBP/CHF', 'GBP_CHF'),
 ('GBP/HKD', 'GBP_HKD'),
 ('GBP/JPY', 'GBP_JPY'),
 ('GBP/NZD', 'GBP_NZD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('GBP/SGD', 'GBP_SGD'),
 ('GBP/USD', 'GBP_USD'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('HKD/JPY', 'HKD_JPY'),
 ('NZD/CAD', 'NZD_CAD'),
 ('NZD/CHF', 'NZD_CHF'),
 ('NZD/HKD', 'NZD_HKD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('NZD/SGD', 'NZD_SGD'),
 ('NZD/USD', 'NZD_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('SGD/JPY', 'SGD_JPY'),
 ('TRY/JPY', 'TRY_JPY'),
 ('USD/CAD', 'USD_CAD'),
 ('USD/CHF', 'USD_CHF'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/CZK', 'USD_CZK'),
 ('USD/DKK', 'USD_DKK'),
 ('USD/HKD', 'USD_HKD'),
 ('USD/HUF', 'USD_HUF'),
 ('USD/JPY', 'USD_JPY'),
 ('USD/MXN', 'USD_MXN'),
 ('USD/NOK', 'USD_NOK'),
 ('USD/PLN', 'USD_PLN'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('USD/THB', 'USD_THB'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/ZAR', 'USD_ZAR'),
 ('ZAR/JPY', 'ZAR_JPY')]

In [8]:
instr = api.get_instruments()

In [9]:
len(instr)

68

In [10]:
instr[0]

('AUD/CAD', 'AUD_CAD')

## Getting Historical Data (Part 1)

In [11]:
import pandas as pd
import tpqoa

In [12]:
api = tpqoa.tpqoa("oanda.cfg")

In [13]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [14]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12293  1.12744  1.11837  1.12501   90252      True
2020-07-01 21:00:00  1.12501  1.13020  1.12188  1.12384   90789      True
2020-07-02 21:00:00  1.12384  1.12492  1.12186  1.12429   59036      True
2020-07-05 21:00:00  1.12423  1.13449  1.12391  1.13076   81756      True
2020-07-06 21:00:00  1.13070  1.13318  1.12581  1.12726   92426      True
2020-07-07 21:00:00  1.12717  1.13505  1.12615  1.13287   89549      True
2020-07-08 21:00:00  1.13287  1.13699  1.12774  1.12837  104729      True
2020-07-09 21:00:00  1.12808  1.13242  1.12540  1.12977   81510      True
2020-07-12 21:00:00  1.13042  1.13744  1.13002  1.13420   86512      True
2020-07-13 21:00:00  1.13420  1.14081  1.13232  1.13985  106478      True
2020-07-14 21:00:00  1.13979  1.14512  1.13901  1.14108  100308      True
2020-07-15 21:00:00  1.14108  1.14411  1.13698  1.13827  102144      True
2020-07-16 21:00:00  1.13827  1.14432  1.13737  1.14252   73024      True
2020-07-19 21:00:00  1.14088  1.14672  1.14017  1.14461  104209      True
2020-07-20 21:00:00  1.14461  1.15391  1.14223  1.15257  111043      True
2020-07-21 21:00:00  1.15257  1.16009  1.15059  1.15687  129890      True
2020-07-22 21:00:00  1.15634  1.16260  1.15397  1.15952  115345      True
2020-07-23 21:00:00  1.15920  1.16571  1.15806  1.16540  115447      True
2020-07-26 21:00:00  1.16420  1.17809  1.16387  1.17502  123653      True
2020-07-27 21:00:00  1.17502  1.17729  1.16980  1.17138  126006      True
2020-07-28 21:00:00  1.17145  1.18054  1.17114  1.17904  121087      True
2020-07-29 21:00:00  1.17904  1.18475  1.17304  1.18465  128163      True
2020-07-30 21:00:00  1.18465  1.19081  1.17602  1.17751  154943      True

In [15]:
df = api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-06-30 21:00:00 to 2020-07-30 21:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   o         23 non-null     float64
 1   h         23 non-null     float64
 2   l         23 non-null     float64
 3   c         23 non-null     float64
 4   volume    23 non-null     int64
 5   complete  23 non-null     bool
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [ ]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "A")

In [ ]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "B")

## Getting Historical Data (Part 2)

In [ ]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H1", "A")

In [ ]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H12", "A")

In [ ]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "M1", "A")

In [ ]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-04", "S5", "A")

In [ ]:
api.get_instruments()

In [ ]:
api.get_history("SPX500_USD", "2020-08-03", "2020-08-04", "H1", "A")

## Streaming high-frequency real-time Data

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [ ]:
api.stream_data('EUR_USD')

In [ ]:
api.stop_stream()

## Creating Orders and Executing Trades

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [ ]:
api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

In [ ]:
api.create_order(instrument = "EUR_USD", units = -100000, sl_distance= 0.1)

In [ ]:
api.get_account_summary()

In [ ]:
api.get_transactions(tid = 24)

In [ ]:
api.print_transactions(tid = 26-1)